{% extends 'inventory/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto col-md-6">
        <div class="card-body text-center">
            <h3 class="card-title">Login</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
            </form>
            <hr>
            <p>New to our Site? <a href="{% url 'user-register' %}">Sign Up</a></p>
        </div>
    </div>
</div>

{% endblock %}
