{% extends 'inventory/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card mx-auto col-md-6">
            <div class="card-body">
                <legend class="text-center mb-4">Register Now...</legend>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
                <hr>
                <p>Already have an Account? <a href="{% url 'user-login' %}">Login</a></p>
            </div>
        </div>
    </div>

{% endblock %}
