{% extends 'inventory/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <form method="POST" action="">
            {% csrf_token %}
            <h3>Product Name : {{product.name}}</h3>
            <h4>Quantity : <input type="number" name="quantity" min="0" max="{{product.stock_quantity}}" required> </h4>
            <h4>Transaction ID : <input  name="transaction-id"></h4>
            <input type="hidden" name="product-id" value="{{ product.id }}">
            <br>
            <button type="submit">Submit</button>
        </form>
    {% else %}
    <p>Please <a href="{% url 'user-login' %}">log in</a> to place order </p>
    {% endif %}
{% endblock %}